.footer {
  padding-top: 66px;
  padding-bottom: 60px;

  @media screen and (max-width: 980px) {
    padding: 48px 5.94% 36px;
  }

  &__copyright {
    max-width: 318px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}