.auth {
  max-width: 358px;
  min-height: 581px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 570px) {
  .auth {
    width: 282px;
    padding: 0 22px;
  }
}